<!DOCTYPE html>
<html>
    <head>
        <title>valid</title>
    </head>
    <body>
        <center>
        <h1 style="color: rgb(23, 192, 23);">Sequence appeares to be valid!</h1>
        <form action="/process_repetition" method="get">
            <h3>Move Sequence: {{sequence}}</h3>
            <h2>check repetition</h2>
            <input type="button" name="back" value="Back" onclick="window.location.href='/back'">
            <input type="submit" value="PROCEED">
        </form>
        </center>



        <script>
        
        </script>
    </body>
</html>